.container{
  height: 200px;
  width: 70%;
}
.table-wrapper {
    overflow-x: scroll;
    padding: 10px;
  }

  td,
  th {
    border: 2px solid gray;
    padding: 10px 5px;
    width: calc(100% / 7);
    color: #f0f0f5;
    
  }

  th {
    background-color: #00004d;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  td:nth-child(6n) {
    text-align: center;
  }
td{
  background-color: #f0f0f5;
  color: #33334d;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  #cars-table {
    min-width: 1000px;
  }

  .remove-btn {
    /* background-color: red; */
    display: block;
    margin: auto;
    border: 2px solid red;
    background-color: transparent;
    color: red;
    font-weight: bold;
    font-size: 16px;
    padding: 0em .4em;
    border-radius: 50%;
  }
  .card-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
  }
  
  .card {
    margin: 10px 0;
  }
  body{
    background-color: #dbd8d6;
  }